{% extends 'layouts/base.twig' %}
{% trans_default_domain 'prompts' %}
{% block title %}{{ shop_name }}{% endblock %}

{% block body %}

{% if scope == 'category' %}
	{%   set cat_show = 'show active' %}
	{%   set cat_active = 'active' %}
	{%   set prod_show = '' %}
	{%   set prod_active = '' %}
{% else %}
	{%   set cat_show = '' %}
	{%   set cat_active = '' %}
	{%   set prod_show = 'show active' %}
	{%   set prod_active = 'active' %}
{% endif %}

<div class="content-divider">&nbsp;</div>

<ul class="nav nav-tabs" id="dashboardTab" role="tablist">
	<li class="nav-item">
		<a class="nav-link {{ cat_active }}" id="category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="home" aria-selected="true">{{ 'title.category.pl'|trans|capitalize }}</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{ prod_active }}" id="product-tab" data-toggle="tab" href="#product" role="tab" aria-controls="product" aria-selected="false">{{ 'title.product.pl'|trans|capitalize }}</a>
	</li>
</ul>

<div class="tab-content" id="dashboardTabContent">
	<div itemPath="{{ path('category_process') }}" itemScope="category" class="tab-pane fade {{ cat_show }}" id="category" role="tabpanel" aria-labelledby="category-tab">
		{% include '/pages/dashboard/category.twig' with {'modal_id':'categoryModal', 'modal_label_id':'categoryModalLabel'} %}
	</div>
	<div itemPath="{{ path('product_form') }}" itemScope="product" class="tab-pane fade {{ prod_show }}" id="product" role="tabpanel" aria-labelledby="product-tab">
		{% include '/pages/dashboard/product.twig' with {'modal_id':'productModal', 'modal_label_id':'productModalLabel'} %}
	</div>
</div>


{% include '/dialogs/modal.twig' %}

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
var productTable
;


function openFormModal( obj ){
	let paginate
		,scope	= obj.parents("div[itemScope]").attr( "itemScope" )
	;

	paginate	= productTable.page.info();
// debugger;

	$.ajax({
		url:  obj.parents("div[itemPath]").attr( "itemPath" )+"?id="+obj.attr( "item" ),
		type: "GET",
		async: true,
		dataType: "json",
		// data: null,
		success: function( data, textStatus, jqXHR ) {
			$("#modal_body").html(data.html);
			$('input:visible:enabled:first', '#modal_dialog').focus();


		},
		error: function( jqXHR, textStatus, errorThrown ) {
			alert( "JS system error." );
		}
	});
}

$(document).ready(function(){

productTable	= $('#product_table').DataTable(dataTableConfig);


$("li.paginate_button").click(function(){


	$("button[item],tr[item]").click(function(){openFormModal($(this));});
});


$("button[item],tr[item]").click(function(){openFormModal($(this));});

});//ready end
</script>
{% endblock %}